@*@model Restaurant.Models.Restaurant.RestInfo*@
@model Restaurant.Models.Restaurant.ViewModels.RestInfoModels

@*@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
 }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>RestInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="RestName" class="control-label"></label>
                <input asp-for="RestName" class="form-control" />
                <span asp-validation-for="RestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestAddress" class="control-label"></label>
                <input asp-for="RestAddress" class="form-control" />
                <span asp-validation-for="RestAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestReferencePoint" class="control-label"></label>
                <input asp-for="RestReferencePoint" class="form-control" />
                <span asp-validation-for="RestReferencePoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitchen" class="control-label"></label>
                <input asp-for="Kitchen" class="form-control" />
                <span asp-validation-for="Kitchen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tables" class="control-label"></label>
                <input asp-for="Tables" class="form-control" />
                <span asp-validation-for="Tables" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" placeholder="Макс 92 букв" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestPhone" class="control-label"></label>
                <input asp-for="RestPhone" class="form-control" />
                <span asp-validation-for="RestPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestAdministrator" class="control-label"></label>
                <input asp-for="RestAdministrator" class="form-control" />
                <span asp-validation-for="RestAdministrator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile" type="file" accept="image/*" class="form-control-file">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
