@model List<Restaurant.Models.Restaurant.ViewModels.RestInfoModels>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .col-md {
        margin-bottom: 25px !important;
    }
</style>

@*<h3>@ViewBag.Message</h3>*@

<div class="row">
    @foreach (var rest in Model)
    {
        var routeDate = new Dictionary<string, string>()
{
            { "id", rest.Id.ToString() },
            //{ "categoryId", rest.Id.ToString() }
        };

<div class="col-md">
    <div class="card" style="width: 18rem; padding:10px;">
        <img src="~/images/@rest.ImageName" style="width:250px; height:120px; align-self:center" class="card-img-top" alt="@rest.ImageName">
        <div class="card-body">
            <h5 class="card-title">Имя:@rest.RestName</h5>
            <pre class="card-subtitle"><b>Кухня:</b>@rest.Kitchen</pre>
            <pre class="card-subtitle"><b>Описание:</b>@rest.Description@rest.Description</pre>
            <a asp-action="GetMenu" asp-controller="Home" asp-all-route-data="routeDate" class="btn btn-primary">Выбрать</a>
            @*<a href="~/Movie/Details/?id=@movie.Id.ToString()&category=@movie.CategoryId" class="btn btn-dark">Download</a>*@
        </div>
    </div>
</div>
}
</div>
