@model Restaurant.Models.Restaurant.ViewModels.RestMenusModels
@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Create</h1>

<h4>RestMenu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Composition" class="control-label"></label>
                <input asp-for="Composition" class="form-control" />
                <span asp-validation-for="Composition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoocingTime" class="control-label"></label>
                <input asp-for="CoocingTime" class="form-control" />
                <span asp-validation-for="CoocingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestId" class="control-label"></label>
                <select asp-for="RestId" class="form-control" asp-items="Model.RestNames"></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile" type="file" accept="image/*" class="form-control-file">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

