@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Main", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-link text-dark">
                @Html.ActionLink("Здравствуйте, " + User.Identity.Name + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li > <a class="nav-link text-dark" asp-action="Logout" asp-controller="Account">Выйти</a></li>
        </ul> 
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
    </li>
    @*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Cart</a>
    </li>*@
</ul>
}
