@if (ViewBag.Count > 0)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="bi bi-cart">
            <a class="nav-link text-dark" asp-area="" asp-controller="ShopCart" asp-action="Index">Корзина {@ViewBag.Count}</a>
        </li>
    </ul>
}
@*@if (ViewBag.Message != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="ShopCart" asp-action="Index">Car</a>
        </li>
    </ul>
}*@